name: fake_store
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  dio: ^5.7.0
  retrofit: ^4.9.1
  retrofit_generator: ^10.2.0
  build_runner: ^2.10.4
  json_annotation: ^4.9.0
  freezed: ^3.2.3
  json_serializable: ^6.11.2
  freezed_annotation: ^3.1.0
  get_it: ^9.2.0
  injectable: ^2.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
